.layout {
    min-height: 100vh;
    padding: 48px 96px 0;
}

:host ::ng-deep .ant-fullcalendar-header {
    display: none;
}

.ranking {
    float: right;
    margin: 11px 16px;
    z-index: 100;
}

.info {
    height: 100%;
    padding: 24px;
    color: rgba(0, 0, 0, 0.65);
}

.info-card {
    width: 100%;
    margin-bottom: 24px;
    font-size: 14px;
}

.info-btn {
    width: 100%;
}

.cal-on-time, .cal-private-leave, .cal-late, .cal-public-leave {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.cal-on-time {
    color: #5cb85c;
}

.cal-private-leave {
    color: #f04134;
}

.cal-late {
    color: #DABD35;
}

.cal-public-leave {
    color: #2C3AE9;
}

:host ::ng-deep .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    text-align: center;
}