<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="register()" style="margin-bottom: 24px;">
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.username">
      <nz-input formControlName="username" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-user"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.username.dirty&&validateForm.controls.username.hasError('required')">Please input your username!</div>
    </div>
  </div>
  <div nz-form-item>
    <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
      <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
        <ng-template #prefix>
          <i class="anticon anticon-lock"></i>
        </ng-template>
      </nz-input>
      <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
    </div>
  </div>
  <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">Register</button>
</form>
<nz-table #nzTable [nzDataSource]="users" [nzPageSize]="2">
  <thead nz-thead>
    <tr>
      <th nz-th><span>姓名</span></th>
      <th nz-th>
        <span>
          签到/次
          <nz-table-sort (nzValueChange)="usersSortChange($event, 'totalTime')"></nz-table-sort>
        </span>
      </th>
      <th nz-th>
        <span>
          迟到/次
          <nz-table-sort (nzValueChange)="usersSortChange($event, 'lateTime')"></nz-table-sort>
        </span>
      </th>
      <th nz-th>
        <span>
          私假/次
          <nz-table-sort (nzValueChange)="usersSortChange($event, 'privateTime')"></nz-table-sort>
        </span>
      </th>
      <th nz-th>
        <span>
          公假/次
          <nz-table-sort (nzValueChange)="usersSortChange($event, 'publicTime')"></nz-table-sort>
        </span>
      </th>
      <th nz-th><span>操作</span></th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i=index">
      <td nz-td>{{data.username}}</td>
      <td nz-td>{{data.totalTime}}</td>
      <td nz-td>{{data.lateTime}}</td>
      <td nz-td>{{data.privateTime}}</td>
      <td nz-td>{{data.publicTime}}</td>
      <td nz-td>
        <button nz-button [nzType]="'danger'" [nzSize]="'small'" (click)="showDelete(i)">
          <span>删除</span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>