.login-form {
    max-width: 300px;
}

.login-form-button {
    width: 100%;
}

.container {
    height: 66.67%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}